---
layout: base
---

{% include post_navigation_links.html %}

<div class="row">
  <div class="col-xs-12">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header">
        <span class="post-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></span>
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        {% if page.tags %}
          <p class="post-meta">Tags:
            {% for tag in page.tags %}
              <a href="/tags#{{ tag }}" target="_self">{{ tag }}</a>
              {% unless forloop.last %}|{% endunless %}
            {% endfor %}
          </p>
        {% endif %}
        {% if page.sourcelink or page.hostlink %}
          <p>
            Hosting link(s):
            {% if page.sourcelink %}
              <a href="{{ page.sourcelink }}" target="_blank">source code</a>
              {% if page.hostlink %}|{% endif %}
            {% endif %}
            {% if page.hostlink %}
              <a href="{{ page.hostlink }}" target="_blank">working example</a>
            {% endif %}
          </p>
        {% endif %}
        {% if page.notes %}
          {{ page.notes | markdownify }}
        {% endif %}
        </p>
      </header>

      <hr>


      <div class="post-content" itemprop="articleBody">
      {{ content }}
      </div>

      <hr>

      {% include post_navigation_links.html %}

      {% include disqus_comments.html %}

    </article>
  </div>
</div>
